.cartItem>div{
  padding: 10px 0;
  display: flex;
}

.cartItem{
  border: none;
}
.avatar>img{
  object-fit: scale-down;
}
.cartItemHandle{
  width: 150px;
  margin-right: 30px;
  text-align: right;
}
.cartItemHandle>h3{
  color: orangered;
}
.cartItemHandle>button{
  padding-left: 8px;
  padding-right: 8px;
}
